hr {
  position: relative;
  border: none;
  height: 2px;
  background-color: #ddd;
  margin: 40px 0;
}

hr::before {
  position: absolute;
  top: -10px;
  left: 5%;
  z-index: 1;
  color: var(--hr-before-color, #333);
  content: '\f0c4';
  font-family: 'FontAwesome';
  font-size: 20px;
  line-height: 1;
  transition: all 1s ease-in-out;
}
